:root {
  --interfacesBarWidthPx: 100px;
  --canvasWidthVw: 70vw;
  --canvasHeightVh: 70vh;
}

.fixedBoxStyle {
  border: 1px #999 solid;
  border-radius: 10px;
  text-align: center;
  position: static;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
.fixedBoxStyle:hover {
  background: rgb(230, 230, 230);
}

.interfacesBarStyle {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: var(--interfacesBarWidthPx);
  border: solid black 1px;
}

.interfaceTitleStyle {
  font-size: 15px;
  color: black;
  position: absolute;
  margin-top: 5px;
  top: 0%;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}

.imgContainer img {
  width: 4em;
  height: 4em;
}

.imageContainer .componentImage {
  width: 4em;
  height: 4em;
}

.yamlContent {
  height: 90vh;
  overflow: auto;
}

.yamlContent::-webkit-scrollbar {
  display: none;
}

.toolboxContainer::-webkit-scrollbar {
  display: none;
}

.imgContainers {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxesContainer {
  position: relative;
  height: 100%;
  width: 78%;
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 75%);
}

.titleStyle {
  font-size: 40px;
  margin: 20px 0 0 20px;
}

.canvasStyle {
  display: flex;
  position: relative;
  width: 70%;
  height: 100%;
  justify-content: space-between;
  color: black;
}

.scriptContainer {
  width: 28%;
  height: 100%;
  position: relative;
  background: white;
  color: black;
  padding: 0.5em 2em;
  border-radius: 0.5em;
  box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 75%);
}

.scriptContainer pre {
  text-align: left;
  white-space: pre-wrap;
  background: #000;
  color: #72b1e8;
  border-radius: 0.5em;
  padding: 1em;
}

.toolboxMenu {
  width: 20%;
  text-align: center;
  border-radius: 0.5em;
  background-color: #999;
  color: #fff;
  box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 75%);
}

.toolboxTitle {
  font-size: 20px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.toolboxContainer {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  overflow: auto;
  height: 90vh;
  height: calc(100% - 68px);
}
.wideBox,
.interfaceBox {
  border: 1px #999 solid;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  height: 30px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tallBox {
  border: 1px #999 solid;
  border-radius: 10px;
  text-align: center;
  width: 20px;
  height: 80px;
  background: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.interfaceBox {
  height: 50px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}

.switchIcon {
  top: 0;
  width: 50px;
  height: 50px;
}

.iconContainer {
  background: white;
  border-color: #999;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.generateBtn {
  border: none;
  background: #f08383;
  color: #fff;
  border-radius: 1.5em;
  padding: 0.5em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.generateBtn:hover {
  background: #f05e5e;
}

.downloadBtn {
  position: absolute;
  top: 4em;
  right: 2.8em;
}
